anfautoalerts.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "Logic App Name": {
            "defaultValue": "ANFAutoAlerts",
            "type": "String"
        },
        "Target Resource Group for Alerts": {
            "defaultValue": "Alerts.rg",
            "type": "String"
        },
        "Target Resource Group to Monitor": {
            "defaultValue": "ANF.rg",
            "type": "String"
        },
        "Capacity Pool % Full Threshold": {
            "defaultValue": "90",
            "type": "String"
        },
        "Volume % Full Threshold": {
            "defaultValue": "80",
            "type": "String"
        },
        "Existing Action Group for Capacity Notifications": {
            "defaultValue": "CapacityFullNotification",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [{
        "type": "Microsoft.Logic/workflows",
        "apiVersion": "2017-07-01",
        "name": "[parameters('Logic App Name')]",
        "location": "eastus2",
        "identity": {
            "principalId": "",
            "tenantId": "",
            "type": "SystemAssigned"
        },
        "properties": {
            "state": "Enabled",
            "definition": {
                "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                "contentVersion": "1.0.0.0",
                "parameters": {},
                "triggers": {
                    "manual": {
                        "type": "Request",
                        "kind": "Http",
                        "inputs": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "alertContext": {
                                                "properties": {
                                                    "authorization": {
                                                        "properties": {
                                                            "action": {
                                                                "type": "string"
                                                            },
                                                            "scope": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "caller": {
                                                        "type": "string"
                                                    },
                                                    "channels": {
                                                        "type": "string"
                                                    },
                                                    "claims": {
                                                        "type": "string"
                                                    },
                                                    "correlationId": {
                                                        "type": "string"
                                                    },
                                                    "eventDataId": {
                                                        "type": "string"
                                                    },
                                                    "eventSource": {
                                                        "type": "string"
                                                    },
                                                    "eventTimestamp": {
                                                        "type": "string"
                                                    },
                                                    "level": {
                                                        "type": "string"
                                                    },
                                                    "operationId": {
                                                        "type": "string"
                                                    },
                                                    "operationName": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "subStatus": {
                                                        "type": "string"
                                                    },
                                                    "submissionTimestamp": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "essentials": {
                                                "properties": {
                                                    "alertContextVersion": {
                                                        "type": "string"
                                                    },
                                                    "alertId": {
                                                        "type": "string"
                                                    },
                                                    "alertRule": {
                                                        "type": "string"
                                                    },
                                                    "alertTargetIDs": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "essentialsVersion": {
                                                        "type": "string"
                                                    },
                                                    "firedDateTime": {
                                                        "type": "string"
                                                    },
                                                    "monitorCondition": {
                                                        "type": "string"
                                                    },
                                                    "monitoringService": {
                                                        "type": "string"
                                                    },
                                                    "originAlertId": {
                                                        "type": "string"
                                                    },
                                                    "severity": {
                                                        "type": "string"
                                                    },
                                                    "signalType": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "schemaId": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "actions": {
                    "Change_Capacity_Pool_String_to_Float_and_Divide_by_100": {
                        "runAfter": {
                            "Change_Volume_String_to_Float_and_Divide_by_100": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "CapacityAlertPercent",
                                "type": "float",
                                "value": "@div(float(variables('CapacityAlertInput')),100)"
                            }]
                        }
                    },
                    "Change_Volume_String_to_Float_and_Divide_by_100": {
                        "runAfter": {
                            "Set_Volume_Alert_Percentage_(consumed)": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "VolumeAlertPercent",
                                "type": "float",
                                "value": "@div(float(variables('VolumeAlertInput')),100)"
                            }]
                        }
                    },
                    "Get_Workflow_Properties": {
                        "runAfter": {
                            "Set_Existing_Action_Group_for_Alerts": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "workflowproperties",
                                "type": "object",
                                "value": "@workflow()"
                            }]
                        }
                    },
                    "Initialize_variable": {
                        "runAfter": {
                            "Set_Subscription_ID": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "scope",
                                "type": "string"
                            }]
                        }
                    },
                    "Parse_Workflow_Properties": {
                        "runAfter": {
                            "Get_Workflow_Properties": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@variables('workflowproperties')",
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "location": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "run": {
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "Set_Capacity_Pool_Alert_Percentage_(consumed)": {
                        "runAfter": {},
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "CapacityAlertInput",
                                "type": "string",
                                "value": "[parameters('Capacity Pool % Full Threshold')]"
                            }]
                        }
                    },
                    "Set_Existing_Action_Group_for_Alerts": {
                        "runAfter": {
                            "Set_Target_Resource_Group_for_Alerts": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "action_group",
                                "type": "string",
                                "value": "[parameters('Existing Action Group for Capacity Notifications')]"
                            }]
                        }
                    },
                    "Set_Subscription_ID": {
                        "runAfter": {
                            "Parse_Workflow_Properties": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "subid",
                                "type": "string",
                                "value": "@{split(body('Parse_Workflow_Properties')?['id'],'/')[2]}"
                            }]
                        }
                    },
                    "Set_Target_Resource_Group_for_Alerts": {
                        "runAfter": {
                            "Set_Target_Resource_Group_to_Monitor": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "target_rg",
                                "type": "string",
                                "value": "[parameters('Target Resource Group for Alerts')]"
                            }]
                        }
                    },
                    "Set_Target_Resource_Group_to_Monitor": {
                        "runAfter": {
                            "Change_Capacity_Pool_String_to_Float_and_Divide_by_100": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "monitor_rg",
                                "type": "string",
                                "value": "[parameters('Target Resource Group to Monitor')]"
                            }]
                        }
                    },
                    "Set_Volume_Alert_Percentage_(consumed)": {
                        "runAfter": {
                            "Set_Capacity_Pool_Alert_Percentage_(consumed)": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "VolumeAlertInput",
                                "type": "string",
                                "value": "[parameters('Volume % Full Threshold')]"
                            }]
                        }
                    },
                    "Test_if_Triggered_or_Manual_Run": {
                        "actions": {
                            "NetApp_Account_or_Capacity_Pool_or_Volume": {
                                "runAfter": {
                                    "Set_variable": [
                                        "Succeeded"
                                    ]
                                },
                                "cases": {
                                    "Capacity_Pool": {
                                        "case": "pool",
                                        "actions": {
                                            "Is_this_a_Capacity_Pool_Write": {
                                                "actions": {
                                                    "Create_or_Modify_Capacity_Pool_Alert": {
                                                        "runAfter": {
                                                            "Parse_Capacity_Pool_JSON": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "Http",
                                                        "inputs": {
                                                            "authentication": {
                                                                "type": "ManagedServiceIdentity"
                                                            },
                                                            "body": {
                                                                "id": "/subscriptions/@{split(triggerBody()?['data']?['alertContext']?['authorization']?['scope'],'/')[2]}/resourceGroups/@{variables('target_rg')}/providers/microsoft.insights/metricAlerts/ANFAA_Pool_@{last(split(body('Parse_Capacity_Pool_JSON')?['name'],'/'))}",
                                                                "location": "global",
                                                                "name": "ANFAA_Pool_@{last(split(body('Parse_Capacity_Pool_JSON')?['name'],'/'))}",
                                                                "properties": {
                                                                    "actions": [{
                                                                        "actionGroupId": "/subscriptions/@{split(triggerBody()?['data']?['alertContext']?['authorization']?['scope'],'/')[2]}/resourcegroups/@{variables('target_rg')}/providers/microsoft.insights/actiongroups/@{variables('action_group')}",
                                                                        "webHookProperties": {}
                                                                    }],
                                                                    "autoMitigate": true,
                                                                    "criteria": {
                                                                        "allOf": [{
                                                                            "criterionType": "StaticThresholdCriterion",
                                                                            "dimensions": [],
                                                                            "metricName": "VolumePoolTotalLogicalSize",
                                                                            "metricNamespace": "Microsoft.NetApp/netAppAccounts/capacityPools",
                                                                            "monitorTemplateType": 8,
                                                                            "name": "Metric1",
                                                                            "operator": "GreaterThan",
                                                                            "threshold": "@mul(body('Parse_Capacity_Pool_JSON')?['properties']?['size'],variables('CapacityAlertPercent'))",
                                                                            "timeAggregation": "Average"
                                                                        }],
                                                                        "odata.type": "Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria"
                                                                    },
                                                                    "description": "",
                                                                    "enabled": true,
                                                                    "evaluationFrequency": "PT1M",
                                                                    "scopes": [
                                                                        "@{triggerBody()?['data']?['alertContext']?['authorization']?['scope']}"
                                                                    ],
                                                                    "severity": 3,
                                                                    "targetResourceRegion": "@{body('Parse_Capacity_Pool_JSON')?['location']}",
                                                                    "targetResourceType": "Microsoft.NetApp/netAppAccounts/capacityPools",
                                                                    "templateType": 8,
                                                                    "windowSize": "PT5M"
                                                                },
                                                                "tags": {},
                                                                "type": "Microsoft.Insights/metricAlerts"
                                                            },
                                                            "headers": {
                                                                "Content-Type": "application/json"
                                                            },
                                                            "method": "PUT",
                                                            "uri": "https://management.azure.com/subscriptions/@{split(triggerBody()?['data']?['alertContext']?['authorization']?['scope'],'/')[2]}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/metricAlerts/ANFAA_Pool_@{last(split(body('Parse_Capacity_Pool_JSON')?['name'],'/'))}?api-version=2018-03-01"
                                                        }
                                                    },
                                                    "Created_Capacity_Pool_Alert": {
                                                        "runAfter": {
                                                            "Create_or_Modify_Capacity_Pool_Alert": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "Terminate",
                                                        "inputs": {
                                                            "runStatus": "Succeeded"
                                                        }
                                                    },
                                                    "Get_Pool_Details": {
                                                        "runAfter": {},
                                                        "type": "Http",
                                                        "inputs": {
                                                            "authentication": {
                                                                "type": "ManagedServiceIdentity"
                                                            },
                                                            "method": "GET",
                                                            "uri": " https://management.azure.com@{triggerBody()?['data']?['alertContext']?['authorization']?['scope']}?api-version=2017-08-15"
                                                        }
                                                    },
                                                    "Parse_Capacity_Pool_JSON": {
                                                        "runAfter": {
                                                            "Get_Pool_Details": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "ParseJson",
                                                        "inputs": {
                                                            "content": "@body('Get_Pool_Details')",
                                                            "schema": {
                                                                "properties": {
                                                                    "etag": {
                                                                        "type": "string"
                                                                    },
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "location": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "properties": {
                                                                        "properties": {
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "poolId": {
                                                                                "type": "string"
                                                                            },
                                                                            "provisioningState": {
                                                                                "type": "string"
                                                                            },
                                                                            "serviceLevel": {
                                                                                "type": "string"
                                                                            },
                                                                            "size": {
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        }
                                                    }
                                                },
                                                "runAfter": {},
                                                "else": {
                                                    "actions": {
                                                        "Is_this_a_Capacity_Pool_Delete": {
                                                            "actions": {
                                                                "Delete_Capacity_Pool_Alert": {
                                                                    "runAfter": {},
                                                                    "type": "Http",
                                                                    "inputs": {
                                                                        "authentication": {
                                                                            "type": "ManagedServiceIdentity"
                                                                        },
                                                                        "method": "DELETE",
                                                                        "uri": "https://management.azure.com/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/metricAlerts/ANFAA_Pool_@{last(split(triggerBody()?['data']?['alertContext']?['authorization']?['scope'],'/'))}?api-version=2018-03-01"
                                                                    }
                                                                },
                                                                "Deleted_Capacity_Pool_Alert": {
                                                                    "runAfter": {
                                                                        "Delete_Capacity_Pool_Alert": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "Terminate",
                                                                    "inputs": {
                                                                        "runStatus": "Succeeded"
                                                                    }
                                                                }
                                                            },
                                                            "runAfter": {},
                                                            "else": {
                                                                "actions": {
                                                                    "Capacity_Pool_Expected_Write_or_Delete": {
                                                                        "runAfter": {},
                                                                        "type": "Terminate",
                                                                        "inputs": {
                                                                            "runError": {
                                                                                "code": "002",
                                                                                "message": "Unexpected action type received. Expected 'write' or 'delete'."
                                                                            },
                                                                            "runStatus": "Failed"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "expression": {
                                                                "and": [{
                                                                    "contains": [
                                                                        "@triggerBody()?['data']?['alertContext']?['authorization']?['action']",
                                                                        "delete"
                                                                    ]
                                                                }]
                                                            },
                                                            "type": "If"
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "and": [{
                                                        "contains": [
                                                            "@triggerBody()?['data']?['alertContext']?['authorization']?['action']",
                                                            "write"
                                                        ]
                                                    }]
                                                },
                                                "type": "If"
                                            }
                                        }
                                    },
                                    "NetApp_Account": {
                                        "case": "account",
                                        "actions": {
                                            "Can_do_something_here_in_the_future": {
                                                "runAfter": {
                                                    "Parse_NetApp_Account_Details": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Terminate",
                                                "inputs": {
                                                    "runStatus": "Succeeded"
                                                }
                                            },
                                            "Get_NetApp_Account_Details": {
                                                "runAfter": {},
                                                "type": "Http",
                                                "inputs": {
                                                    "authentication": {
                                                        "type": "ManagedServiceIdentity"
                                                    },
                                                    "method": "GET",
                                                    "uri": " https://management.azure.com@{triggerBody()?['data']?['alertContext']?['authorization']?['scope']}?api-version=2017-08-15"
                                                }
                                            },
                                            "Parse_NetApp_Account_Details": {
                                                "runAfter": {
                                                    "Get_NetApp_Account_Details": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ParseJson",
                                                "inputs": {
                                                    "content": "@body('Get_NetApp_Account_Details')",
                                                    "schema": {
                                                        "properties": {
                                                            "etag": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "Volume": {
                                        "case": "volume",
                                        "actions": {
                                            "Is_this_a_Volume_Write": {
                                                "actions": {
                                                    "Create_or_Modify_Volume_Alert": {
                                                        "runAfter": {
                                                            "Parse_Volume_JSON": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "Http",
                                                        "inputs": {
                                                            "authentication": {
                                                                "type": "ManagedServiceIdentity"
                                                            },
                                                            "body": {
                                                                "id": "/subscriptions/@{split(triggerBody()?['data']?['alertContext']?['authorization']?['scope'],'/')[2]}/resourceGroups/@{variables('target_rg')}/providers/microsoft.insights/metricAlerts/ANFAA_Volume_@{split(body('Parse_Volume_JSON')?['name'],'/')[1]}_@{last(split(body('Parse_Volume_JSON')?['name'],'/'))}",
                                                                "location": "global",
                                                                "name": "ANFAA_Volume_@{split(body('Parse_Volume_JSON')?['name'],'/')[1]}_@{last(split(body('Parse_Volume_JSON')?['name'],'/'))}",
                                                                "properties": {
                                                                    "actions": [{
                                                                        "actionGroupId": "/subscriptions/@{split(triggerBody()?['data']?['alertContext']?['authorization']?['scope'],'/')[2]}/resourcegroups/@{variables('target_rg')}/providers/microsoft.insights/actiongroups/@{variables('action_group')}",
                                                                        "webHookProperties": {}
                                                                    }],
                                                                    "autoMitigate": true,
                                                                    "criteria": {
                                                                        "allOf": [{
                                                                            "criterionType": "StaticThresholdCriterion",
                                                                            "dimensions": [],
                                                                            "metricName": "VolumeLogicalSize",
                                                                            "metricNamespace": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
                                                                            "monitorTemplateType": 8,
                                                                            "name": "Metric1",
                                                                            "operator": "GreaterThan",
                                                                            "threshold": "@mul(body('Parse_Volume_JSON')?['properties']?['usageThreshold'],variables('VolumeAlertPercent'))",
                                                                            "timeAggregation": "Average"
                                                                        }],
                                                                        "odata.type": "Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria"
                                                                    },
                                                                    "description": "",
                                                                    "enabled": true,
                                                                    "evaluationFrequency": "PT1M",
                                                                    "scopes": [
                                                                        "@{triggerBody()?['data']?['alertContext']?['authorization']?['scope']}"
                                                                    ],
                                                                    "severity": 3,
                                                                    "targetResourceRegion": "@{body('Parse_Volume_JSON')?['location']}",
                                                                    "targetResourceType": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
                                                                    "templateType": 8,
                                                                    "windowSize": "PT5M"
                                                                },
                                                                "tags": {},
                                                                "type": "Microsoft.Insights/metricAlerts"
                                                            },
                                                            "headers": {
                                                                "Content-Type": "application/json"
                                                            },
                                                            "method": "PUT",
                                                            "uri": "https://management.azure.com/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/metricAlerts/ANFAA_Volume_@{split(body('Parse_Volume_JSON')?['name'],'/')[1]}_@{last(split(body('Parse_Volume_JSON')?['name'],'/'))}?api-version=2018-03-01"
                                                        }
                                                    },
                                                    "Created_Volume_Alert": {
                                                        "runAfter": {
                                                            "Create_or_Modify_Volume_Alert": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "Terminate",
                                                        "inputs": {
                                                            "runStatus": "Succeeded"
                                                        }
                                                    },
                                                    "Get_Volume_Details": {
                                                        "runAfter": {},
                                                        "type": "Http",
                                                        "inputs": {
                                                            "authentication": {
                                                                "type": "ManagedServiceIdentity"
                                                            },
                                                            "method": "GET",
                                                            "uri": " https://management.azure.com@{triggerBody()?['data']?['alertContext']?['authorization']?['scope']}?api-version=2017-08-15"
                                                        }
                                                    },
                                                    "Parse_Volume_JSON": {
                                                        "runAfter": {
                                                            "Get_Volume_Details": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "ParseJson",
                                                        "inputs": {
                                                            "content": "@body('Get_Volume_Details')",
                                                            "schema": {
                                                                "properties": {
                                                                    "etag": {
                                                                        "type": "string"
                                                                    },
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "location": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "properties": {
                                                                        "properties": {
                                                                            "baremetalTenantId": {
                                                                                "type": "string"
                                                                            },
                                                                            "creationToken": {
                                                                                "type": "string"
                                                                            },
                                                                            "exportPolicy": {
                                                                                "properties": {
                                                                                    "rules": {
                                                                                        "items": {
                                                                                            "properties": {
                                                                                                "allowedClients": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "cifs": {
                                                                                                    "type": "boolean"
                                                                                                },
                                                                                                "nfsv3": {
                                                                                                    "type": "boolean"
                                                                                                },
                                                                                                "nfsv4": {
                                                                                                    "type": "boolean"
                                                                                                },
                                                                                                "nfsv41": {
                                                                                                    "type": "boolean"
                                                                                                },
                                                                                                "ruleIndex": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "unixReadOnly": {
                                                                                                    "type": "boolean"
                                                                                                },
                                                                                                "unixReadWrite": {
                                                                                                    "type": "boolean"
                                                                                                }
                                                                                            },
                                                                                            "required": [
                                                                                                "ruleIndex",
                                                                                                "unixReadOnly",
                                                                                                "unixReadWrite",
                                                                                                "cifs",
                                                                                                "nfsv3",
                                                                                                "nfsv4",
                                                                                                "nfsv41",
                                                                                                "allowedClients"
                                                                                            ],
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "fileSystemId": {
                                                                                "type": "string"
                                                                            },
                                                                            "mountTargets": {
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "endIp": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "fileSystemId": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "gateway": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "ipAddress": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "mountTargetId": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "netmask": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "provisioningState": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "startIp": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "subnet": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "provisioningState",
                                                                                        "mountTargetId",
                                                                                        "fileSystemId",
                                                                                        "startIp",
                                                                                        "endIp",
                                                                                        "gateway",
                                                                                        "netmask",
                                                                                        "subnet",
                                                                                        "ipAddress"
                                                                                    ],
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "ownerId": {
                                                                                "type": "string"
                                                                            },
                                                                            "protocolTypes": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "provisioningState": {
                                                                                "type": "string"
                                                                            },
                                                                            "serviceLevel": {
                                                                                "type": "string"
                                                                            },
                                                                            "subnetId": {
                                                                                "type": "string"
                                                                            },
                                                                            "usageThreshold": {
                                                                                "type": "integer"
                                                                            },
                                                                            "usedBytes": {
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "tags": {
                                                                        "properties": {},
                                                                        "type": "object"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        }
                                                    }
                                                },
                                                "runAfter": {},
                                                "else": {
                                                    "actions": {
                                                        "Is_this_a_Volume_Delete": {
                                                            "actions": {
                                                                "Delete_Volume_Alert": {
                                                                    "runAfter": {},
                                                                    "type": "Http",
                                                                    "inputs": {
                                                                        "authentication": {
                                                                            "type": "ManagedServiceIdentity"
                                                                        },
                                                                        "method": "DELETE",
                                                                        "uri": "https://management.azure.com/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/metricAlerts/ANFAA_Volume_@{split(triggerBody()?['data']?['alertContext']?['authorization']?['scope'],'/')[10]}_@{last(split(triggerBody()?['data']?['alertContext']?['authorization']?['scope'],'/'))}?api-version=2018-03-01"
                                                                    }
                                                                },
                                                                "Deleted_Volume_Alert": {
                                                                    "runAfter": {
                                                                        "Delete_Volume_Alert": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "Terminate",
                                                                    "inputs": {
                                                                        "runStatus": "Succeeded"
                                                                    }
                                                                }
                                                            },
                                                            "runAfter": {},
                                                            "else": {
                                                                "actions": {
                                                                    "Terminate": {
                                                                        "runAfter": {},
                                                                        "type": "Terminate",
                                                                        "inputs": {
                                                                            "runError": {
                                                                                "code": "002",
                                                                                "message": "Unexpected action type received. Expected 'write' or 'delete'."
                                                                            },
                                                                            "runStatus": "Failed"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "expression": {
                                                                "and": [{
                                                                    "contains": [
                                                                        "@triggerBody()?['data']?['alertContext']?['authorization']?['action']",
                                                                        "delete"
                                                                    ]
                                                                }]
                                                            },
                                                            "type": "If"
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "and": [{
                                                        "contains": [
                                                            "@triggerBody()?['data']?['alertContext']?['authorization']?['action']",
                                                            "write"
                                                        ]
                                                    }]
                                                },
                                                "type": "If"
                                            }
                                        }
                                    }
                                },
                                "default": {
                                    "actions": {}
                                },
                                "expression": "@variables('scope')",
                                "type": "Switch"
                            },
                            "Set_variable": {
                                "runAfter": {
                                    "Test_Volume": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "subid",
                                    "value": "@{split(triggerBody()?['data']?['alertContext']?['authorization']?['scope'],'/')[2]}"
                                }
                            },
                            "Test_Volume": {
                                "actions": {
                                    "Set_Scope_to_Volume": {
                                        "runAfter": {},
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "scope",
                                            "value": "volume"
                                        }
                                    }
                                },
                                "runAfter": {},
                                "else": {
                                    "actions": {
                                        "Test_Pool": {
                                            "actions": {
                                                "Set_Scope_to_Pool": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "scope",
                                                        "value": "pool"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "else": {
                                                "actions": {
                                                    "Test_NetApp_Account": {
                                                        "actions": {
                                                            "Set_Scope_to_NetApp_Account": {
                                                                "runAfter": {},
                                                                "type": "SetVariable",
                                                                "inputs": {
                                                                    "name": "scope",
                                                                    "value": "account"
                                                                }
                                                            }
                                                        },
                                                        "runAfter": {},
                                                        "else": {
                                                            "actions": {
                                                                "Terminate_4": {
                                                                    "runAfter": {},
                                                                    "type": "Terminate",
                                                                    "inputs": {
                                                                        "runError": {
                                                                            "code": "001",
                                                                            "message": "Unexpected alert type. This workflow should be triggered only when an Azure NetApp Files resource is created, modified, or deleted."
                                                                        },
                                                                        "runStatus": "Failed"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "expression": {
                                                            "and": [{
                                                                "contains": [
                                                                    "@triggerBody()?['data']?['alertContext']?['authorization']?['action']",
                                                                    "netAppAccounts"
                                                                ]
                                                            }]
                                                        },
                                                        "type": "If"
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [{
                                                    "contains": [
                                                        "@triggerBody()?['data']?['alertContext']?['authorization']?['action']",
                                                        "capacityPools"
                                                    ]
                                                }]
                                            },
                                            "type": "If"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [{
                                        "contains": [
                                            "@triggerBody()?['data']?['alertContext']?['authorization']?['action']",
                                            "volumes"
                                        ]
                                    }]
                                },
                                "type": "If"
                            }
                        },
                        "runAfter": {
                            "Initialize_variable": [
                                "Succeeded"
                            ]
                        },
                        "else": {
                            "actions": {
                                "Create_ANFAutoAlerts_Alert_Group": {
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "id": "/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/actionGroups/ANFAA_LogicAppTrigger_@{variables('monitor_rg')}",
                                            "identity": null,
                                            "kind": null,
                                            "location": "Global",
                                            "name": "ANFAA_LogicAppTrigger_@{variables('monitor_rg')}",
                                            "properties": {
                                                "armRoleReceivers": [],
                                                "automationRunbookReceivers": [],
                                                "azureAppPushReceivers": [],
                                                "azureFunctionReceivers": [],
                                                "emailReceivers": [],
                                                "enabled": true,
                                                "groupShortName": "ANFAA_LAT",
                                                "itsmReceivers": [],
                                                "logicAppReceivers": [],
                                                "smsReceivers": [],
                                                "voiceReceivers": [],
                                                "webhookReceivers": [{
                                                    "identifierUri": null,
                                                    "name": "ANFAutoAlerts",
                                                    "objectId": null,
                                                    "serviceUri": "@{body('Parse_JSON')?['value']}",
                                                    "tenantId": null,
                                                    "useAadAuth": false,
                                                    "useCommonAlertSchema": true
                                                }]
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Insights/ActionGroups"
                                        },
                                        "headers": {
                                            "Content-Type": "application/json"
                                        },
                                        "method": "PUT",
                                        "uri": "https://management.azure.com/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/actionGroups/ANFAA_LogicAppTrigger_@{variables('monitor_rg')}?api-version=2018-03-01"
                                    }
                                },
                                "Create_Trigger_Alert_for_Capacity_Pool_Create_or_Modify": {
                                    "runAfter": {
                                        "Create_Trigger_Alert_for_Volume_Deleted": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "id": "",
                                            "identity": null,
                                            "kind": null,
                                            "location": "Global",
                                            "name": "ANFAA_PoolModified_@{variables('monitor_rg')}",
                                            "properties": {
                                                "actions": {
                                                    "actionGroups": [{
                                                        "actionGroupId": "/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/actionGroups/ANFAA_LogicAppTrigger_@{variables('monitor_rg')}",
                                                        "webhookProperties": {}
                                                    }]
                                                },
                                                "condition": {
                                                    "allOf": [{
                                                            "containsAny": null,
                                                            "equals": "Administrative",
                                                            "field": "category",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "@{variables('monitor_rg')}",
                                                            "field": "resourceGroup",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "microsoft.netapp/netappaccounts/capacitypools",
                                                            "field": "resourceType",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "Microsoft.NetApp/netAppAccounts/capacityPools/write",
                                                            "field": "operationName",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "succeeded",
                                                            "field": "status",
                                                            "odata.type": null
                                                        }
                                                    ],
                                                    "odata.type": null
                                                },
                                                "description": "",
                                                "enabled": true,
                                                "scopes": [
                                                    "/subscriptions/@{variables('subid')}"
                                                ]
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Insights/ActivityLogAlerts"
                                        },
                                        "method": "PUT",
                                        "uri": "https://management.azure.com/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/activityLogAlerts/ANFAA_PoolModified_@{variables('monitor_rg')}?api-version=2017-04-01"
                                    }
                                },
                                "Create_Trigger_Alert_for_Capacity_Pool_Deleted": {
                                    "runAfter": {
                                        "Create_Trigger_Alert_for_Capacity_Pool_Create_or_Modify": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "id": "",
                                            "identity": null,
                                            "kind": null,
                                            "location": "Global",
                                            "name": "ANFAA_PoolDeleted_@{variables('monitor_rg')}",
                                            "properties": {
                                                "actions": {
                                                    "actionGroups": [{
                                                        "actionGroupId": "/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/actionGroups/ANFAA_LogicAppTrigger_@{variables('monitor_rg')}",
                                                        "webhookProperties": {}
                                                    }]
                                                },
                                                "condition": {
                                                    "allOf": [{
                                                            "containsAny": null,
                                                            "equals": "Administrative",
                                                            "field": "category",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "@{variables('monitor_rg')}",
                                                            "field": "resourceGroup",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "microsoft.netapp/netappaccounts/capacitypools",
                                                            "field": "resourceType",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "Microsoft.NetApp/netAppAccounts/capacityPools/delete",
                                                            "field": "operationName",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "succeeded",
                                                            "field": "status",
                                                            "odata.type": null
                                                        }
                                                    ],
                                                    "odata.type": null
                                                },
                                                "description": "",
                                                "enabled": true,
                                                "scopes": [
                                                    "/subscriptions/@{variables('subid')}"
                                                ]
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Insights/ActivityLogAlerts"
                                        },
                                        "method": "PUT",
                                        "uri": "https://management.azure.com/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/activityLogAlerts/ANFAA_PoolDeleted_@{variables('monitor_rg')}?api-version=2017-04-01"
                                    }
                                },
                                "Create_Trigger_Alert_for_Volume_Create_or_Modify": {
                                    "runAfter": {
                                        "Create_ANFAutoAlerts_Alert_Group": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "id": "/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/activityLogAlerts/ANFAA_VolumeModified_@{variables('monitor_rg')}",
                                            "identity": null,
                                            "kind": null,
                                            "location": "Global",
                                            "name": "ANFAA_VolumeModified_@{variables('monitor_rg')}",
                                            "properties": {
                                                "actions": {
                                                    "actionGroups": [{
                                                        "actionGroupId": "/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/actionGroups/ANFAA_LogicAppTrigger_@{variables('monitor_rg')}",
                                                        "webhookProperties": {}
                                                    }]
                                                },
                                                "condition": {
                                                    "allOf": [{
                                                            "containsAny": null,
                                                            "equals": "Administrative",
                                                            "field": "category",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "@{variables('monitor_rg')}",
                                                            "field": "resourceGroup",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "microsoft.netapp/netappaccounts/capacitypools/volumes",
                                                            "field": "resourceType",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes/write",
                                                            "field": "operationName",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "succeeded",
                                                            "field": "status",
                                                            "odata.type": null
                                                        }
                                                    ],
                                                    "odata.type": null
                                                },
                                                "description": "",
                                                "enabled": true,
                                                "scopes": [
                                                    "/subscriptions/@{variables('subid')}"
                                                ]
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Insights/ActivityLogAlerts"
                                        },
                                        "method": "PUT",
                                        "uri": "https://management.azure.com/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/activityLogAlerts/ANFAA_VolumeModified_@{variables('monitor_rg')}?api-version=2017-04-01"
                                    }
                                },
                                "Create_Trigger_Alert_for_Volume_Deleted": {
                                    "runAfter": {
                                        "Create_Trigger_Alert_for_Volume_Create_or_Modify": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "id": "/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/activityLogAlerts/ANFAA_VolumeDeleted_@{variables('monitor_rg')}",
                                            "identity": null,
                                            "kind": null,
                                            "location": "Global",
                                            "name": "ANFAA_VolumeDeleted_@{variables('monitor_rg')}",
                                            "properties": {
                                                "actions": {
                                                    "actionGroups": [{
                                                        "actionGroupId": "/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/actionGroups/ANFAA_LogicAppTrigger_@{variables('monitor_rg')}",
                                                        "webhookProperties": {}
                                                    }]
                                                },
                                                "condition": {
                                                    "allOf": [{
                                                            "containsAny": null,
                                                            "equals": "Administrative",
                                                            "field": "category",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "@{variables('monitor_rg')}",
                                                            "field": "resourceGroup",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "microsoft.netapp/netappaccounts/capacitypools/volumes",
                                                            "field": "resourceType",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes/delete",
                                                            "field": "operationName",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "succeeded",
                                                            "field": "status",
                                                            "odata.type": null
                                                        }
                                                    ],
                                                    "odata.type": null
                                                },
                                                "description": "",
                                                "enabled": true,
                                                "scopes": [
                                                    "/subscriptions/@{variables('subid')}"
                                                ]
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Insights/ActivityLogAlerts"
                                        },
                                        "method": "PUT",
                                        "uri": "https://management.azure.com/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/activityLogAlerts/ANFAA_VolumeDeleted_@{variables('monitor_rg')}?api-version=2017-04-01"
                                    }
                                },
                                "Get_URL_of_this_Logic_App": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "POST",
                                        "uri": "https://management.azure.com/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Logic/workflows/@{workflow().name}/triggers/manual/listcallbackurl?api-version=2016-06-01"
                                    }
                                },
                                "Parse_JSON": {
                                    "runAfter": {
                                        "Get_URL_of_this_Logic_App": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_URL_of_this_Logic_App')",
                                        "schema": {
                                            "properties": {
                                                "basePath": {
                                                    "type": "string"
                                                },
                                                "method": {
                                                    "type": "string"
                                                },
                                                "queries": {
                                                    "properties": {
                                                        "api-version": {
                                                            "type": "string"
                                                        },
                                                        "sig": {
                                                            "type": "string"
                                                        },
                                                        "sp": {
                                                            "type": "string"
                                                        },
                                                        "sv": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "value": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        },
                        "expression": {
                            "and": [{
                                "not": {
                                    "equals": [
                                        "@triggerBody()?['data']?['alertContext']?['authorization']?['action']",
                                        "@null"
                                    ]
                                }
                            }]
                        },
                        "type": "If"
                    }
                },
                "outputs": {}
            },
            "parameters": {}
        }
    }]
}