anfautoalerts.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "Logic App Name": {
            "defaultValue": "ANFAutoAlerts",
            "type": "String"
        },
        "Target Resource Group for Alerts": {
            "defaultValue": "Alerts.rg",
            "type": "String"
        },
        "Target Resource Group to Monitor": {
            "defaultValue": "ANF.rg",
            "type": "String"
        },
        "Subscription ID": {
            "defaultValue": "",
            "type": "String"
        },
        "Action Group for Notifications": {
            "defaultValue": "",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [{
        "type": "Microsoft.Logic/workflows",
        "apiVersion": "2017-07-01",
        "name": "[parameters('Logic App Name')]",
        "location": "eastus2",
        "identity": {
            "principalId": "",
            "tenantId": "",
            "type": "SystemAssigned"
        },
        "properties": {
            "state": "Enabled",
            "definition": {
                "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                "contentVersion": "1.0.0.0",
                "parameters": {},
                "triggers": {
                    "manual": {
                        "type": "Request",
                        "kind": "Http",
                        "inputs": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "alertContext": {
                                                "properties": {
                                                    "authorization": {
                                                        "properties": {
                                                            "action": {
                                                                "type": "string"
                                                            },
                                                            "scope": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "caller": {
                                                        "type": "string"
                                                    },
                                                    "channels": {
                                                        "type": "string"
                                                    },
                                                    "claims": {
                                                        "type": "string"
                                                    },
                                                    "correlationId": {
                                                        "type": "string"
                                                    },
                                                    "eventDataId": {
                                                        "type": "string"
                                                    },
                                                    "eventSource": {
                                                        "type": "string"
                                                    },
                                                    "eventTimestamp": {
                                                        "type": "string"
                                                    },
                                                    "level": {
                                                        "type": "string"
                                                    },
                                                    "operationId": {
                                                        "type": "string"
                                                    },
                                                    "operationName": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "subStatus": {
                                                        "type": "string"
                                                    },
                                                    "submissionTimestamp": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "essentials": {
                                                "properties": {
                                                    "alertContextVersion": {
                                                        "type": "string"
                                                    },
                                                    "alertId": {
                                                        "type": "string"
                                                    },
                                                    "alertRule": {
                                                        "type": "string"
                                                    },
                                                    "alertTargetIDs": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "essentialsVersion": {
                                                        "type": "string"
                                                    },
                                                    "firedDateTime": {
                                                        "type": "string"
                                                    },
                                                    "monitorCondition": {
                                                        "type": "string"
                                                    },
                                                    "monitoringService": {
                                                        "type": "string"
                                                    },
                                                    "originAlertId": {
                                                        "type": "string"
                                                    },
                                                    "severity": {
                                                        "type": "string"
                                                    },
                                                    "signalType": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "schemaId": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "actions": {
                    "Condition": {
                        "actions": {
                            "NetApp_Account_or_Capacity_Pool_or_Volume": {
                                "runAfter": {},
                                "cases": {
                                    "Capacity_Pool": {
                                        "case": "Microsoft.NetApp/netAppAccounts/capacityPools/write",
                                        "actions": {
                                            "Create_or_Modify_Capacity_Pool_Alert": {
                                                "runAfter": {
                                                    "Parse_Capacity_Pool_JSON": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http",
                                                "inputs": {
                                                    "authentication": {
                                                        "type": "ManagedServiceIdentity"
                                                    },
                                                    "body": {
                                                        "id": "/subscriptions/@{split(triggerBody()?['data']?['alertContext']?['authorization']?['scope'],'/')[2]}/resourceGroups/@{variables('target_rg')}/providers/microsoft.insights/metricAlerts/ANFAA_Pool_@{last(split(body('Parse_Capacity_Pool_JSON')?['name'],'/'))}",
                                                        "location": "global",
                                                        "name": "ANFAA_Pool_@{last(split(body('Parse_Capacity_Pool_JSON')?['name'],'/'))}",
                                                        "properties": {
                                                            "actions": [{
                                                                "actionGroupId": "/subscriptions/@{split(triggerBody()?['data']?['alertContext']?['authorization']?['scope'],'/')[2]}/resourcegroups/@{variables('target_rg')}/providers/microsoft.insights/actiongroups/@{variables('action_group')}",
                                                                "webHookProperties": {}
                                                            }],
                                                            "autoMitigate": true,
                                                            "criteria": {
                                                                "allOf": [{
                                                                    "criterionType": "StaticThresholdCriterion",
                                                                    "dimensions": [],
                                                                    "metricName": "VolumePoolTotalLogicalSize",
                                                                    "metricNamespace": "Microsoft.NetApp/netAppAccounts/capacityPools",
                                                                    "monitorTemplateType": 8,
                                                                    "name": "Metric1",
                                                                    "operator": "GreaterThan",
                                                                    "threshold": "@mul(body('Parse_Capacity_Pool_JSON')?['properties']?['size'],variables('CapacityAlertPercent'))",
                                                                    "timeAggregation": "Average"
                                                                }],
                                                                "odata.type": "Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria"
                                                            },
                                                            "description": "",
                                                            "enabled": true,
                                                            "evaluationFrequency": "PT1M",
                                                            "scopes": [
                                                                "@{triggerBody()?['data']?['alertContext']?['authorization']?['scope']}"
                                                            ],
                                                            "severity": 3,
                                                            "targetResourceRegion": "@{body('Parse_Capacity_Pool_JSON')?['location']}",
                                                            "targetResourceType": "Microsoft.NetApp/netAppAccounts/capacityPools",
                                                            "templateType": 8,
                                                            "windowSize": "PT5M"
                                                        },
                                                        "tags": {},
                                                        "type": "Microsoft.Insights/metricAlerts"
                                                    },
                                                    "headers": {
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://management.azure.com/subscriptions/@{split(triggerBody()?['data']?['alertContext']?['authorization']?['scope'],'/')[2]}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/metricAlerts/ANFAA_Pool_@{last(split(body('Parse_Capacity_Pool_JSON')?['name'],'/'))}?api-version=2018-03-01"
                                                }
                                            },
                                            "Get_Capacity_Pool_Details": {
                                                "runAfter": {},
                                                "type": "Http",
                                                "inputs": {
                                                    "authentication": {
                                                        "type": "ManagedServiceIdentity"
                                                    },
                                                    "method": "GET",
                                                    "uri": " https://management.azure.com@{triggerBody()?['data']?['alertContext']?['authorization']?['scope']}?api-version=2017-08-15"
                                                }
                                            },
                                            "Parse_Capacity_Pool_JSON": {
                                                "runAfter": {
                                                    "Get_Capacity_Pool_Details": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ParseJson",
                                                "inputs": {
                                                    "content": "@body('Get_Capacity_Pool_Details')",
                                                    "schema": {
                                                        "properties": {
                                                            "etag": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "poolId": {
                                                                        "type": "string"
                                                                    },
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    },
                                                                    "serviceLevel": {
                                                                        "type": "string"
                                                                    },
                                                                    "size": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "Terminate": {
                                                "runAfter": {
                                                    "Create_or_Modify_Capacity_Pool_Alert": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Terminate",
                                                "inputs": {
                                                    "runStatus": "Succeeded"
                                                }
                                            }
                                        }
                                    },
                                    "NetApp_Account": {
                                        "case": "Microsoft.NetApp/netAppAccounts/write",
                                        "actions": {
                                            "HTTP_2": {
                                                "runAfter": {},
                                                "type": "Http",
                                                "inputs": {
                                                    "authentication": {
                                                        "type": "ManagedServiceIdentity"
                                                    },
                                                    "method": "GET",
                                                    "uri": " https://management.azure.com@{triggerBody()?['data']?['alertContext']?['authorization']?['scope']}?api-version=2017-08-15"
                                                }
                                            },
                                            "Parse_JSON_2": {
                                                "runAfter": {
                                                    "HTTP_2": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ParseJson",
                                                "inputs": {
                                                    "content": "@body('HTTP_2')",
                                                    "schema": {
                                                        "properties": {
                                                            "etag": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "Terminate_2": {
                                                "runAfter": {
                                                    "Parse_JSON_2": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Terminate",
                                                "inputs": {
                                                    "runStatus": "Succeeded"
                                                }
                                            }
                                        }
                                    },
                                    "Volume": {
                                        "case": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes/write",
                                        "actions": {
                                            "Create_or_Modify_Volume_Alert": {
                                                "runAfter": {
                                                    "Parse_Volume_JSON": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http",
                                                "inputs": {
                                                    "authentication": {
                                                        "type": "ManagedServiceIdentity"
                                                    },
                                                    "body": {
                                                        "id": "/subscriptions/@{split(triggerBody()?['data']?['alertContext']?['authorization']?['scope'],'/')[2]}/resourceGroups/@{variables('target_rg')}/providers/microsoft.insights/metricAlerts/ANFAA_Volume_@{first(split(body('Parse_Volume_JSON')?['name'],'/'))}_@{last(split(body('Parse_Volume_JSON')?['name'],'/'))}",
                                                        "location": "global",
                                                        "name": "ANFAA_Volume_@{first(split(body('Parse_Volume_JSON')?['name'],'/'))}_@{last(split(body('Parse_Volume_JSON')?['name'],'/'))}",
                                                        "properties": {
                                                            "actions": [{
                                                                "actionGroupId": "/subscriptions/@{split(triggerBody()?['data']?['alertContext']?['authorization']?['scope'],'/')[2]}/resourcegroups/@{variables('target_rg')}/providers/microsoft.insights/actiongroups/@{variables('action_group')}",
                                                                "webHookProperties": {}
                                                            }],
                                                            "autoMitigate": true,
                                                            "criteria": {
                                                                "allOf": [{
                                                                    "criterionType": "StaticThresholdCriterion",
                                                                    "dimensions": [],
                                                                    "metricName": "VolumeLogicalSize",
                                                                    "metricNamespace": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
                                                                    "monitorTemplateType": 8,
                                                                    "name": "Metric1",
                                                                    "operator": "GreaterThan",
                                                                    "threshold": "@mul(body('Parse_Volume_JSON')?['properties']?['usageThreshold'],variables('VolumeAlertPercent'))",
                                                                    "timeAggregation": "Average"
                                                                }],
                                                                "odata.type": "Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria"
                                                            },
                                                            "description": "",
                                                            "enabled": true,
                                                            "evaluationFrequency": "PT1M",
                                                            "scopes": [
                                                                "@{triggerBody()?['data']?['alertContext']?['authorization']?['scope']}"
                                                            ],
                                                            "severity": 3,
                                                            "targetResourceRegion": "@{body('Parse_Volume_JSON')?['location']}",
                                                            "targetResourceType": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
                                                            "templateType": 8,
                                                            "windowSize": "PT5M"
                                                        },
                                                        "tags": {},
                                                        "type": "Microsoft.Insights/metricAlerts"
                                                    },
                                                    "headers": {
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://management.azure.com/subscriptions/@{split(triggerBody()?['data']?['alertContext']?['authorization']?['scope'],'/')[2]}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/metricAlerts/ANFAA_Volume_@{first(split(body('Parse_Volume_JSON')?['name'],'/'))}_@{last(split(body('Parse_Volume_JSON')?['name'],'/'))}?api-version=2018-03-01"
                                                }
                                            },
                                            "Get_Volume_Details": {
                                                "runAfter": {},
                                                "type": "Http",
                                                "inputs": {
                                                    "authentication": {
                                                        "type": "ManagedServiceIdentity"
                                                    },
                                                    "method": "GET",
                                                    "uri": " https://management.azure.com@{triggerBody()?['data']?['alertContext']?['authorization']?['scope']}?api-version=2017-08-15"
                                                }
                                            },
                                            "Parse_Volume_JSON": {
                                                "runAfter": {
                                                    "Get_Volume_Details": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ParseJson",
                                                "inputs": {
                                                    "content": "@body('Get_Volume_Details')",
                                                    "schema": {
                                                        "properties": {
                                                            "etag": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "baremetalTenantId": {
                                                                        "type": "string"
                                                                    },
                                                                    "creationToken": {
                                                                        "type": "string"
                                                                    },
                                                                    "exportPolicy": {
                                                                        "properties": {
                                                                            "rules": {
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "allowedClients": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "cifs": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "nfsv3": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "nfsv4": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "nfsv41": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "ruleIndex": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "unixReadOnly": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "unixReadWrite": {
                                                                                            "type": "boolean"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "ruleIndex",
                                                                                        "unixReadOnly",
                                                                                        "unixReadWrite",
                                                                                        "cifs",
                                                                                        "nfsv3",
                                                                                        "nfsv4",
                                                                                        "nfsv41",
                                                                                        "allowedClients"
                                                                                    ],
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "fileSystemId": {
                                                                        "type": "string"
                                                                    },
                                                                    "mountTargets": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "endIp": {
                                                                                    "type": "string"
                                                                                },
                                                                                "fileSystemId": {
                                                                                    "type": "string"
                                                                                },
                                                                                "gateway": {
                                                                                    "type": "string"
                                                                                },
                                                                                "ipAddress": {
                                                                                    "type": "string"
                                                                                },
                                                                                "mountTargetId": {
                                                                                    "type": "string"
                                                                                },
                                                                                "netmask": {
                                                                                    "type": "string"
                                                                                },
                                                                                "provisioningState": {
                                                                                    "type": "string"
                                                                                },
                                                                                "startIp": {
                                                                                    "type": "string"
                                                                                },
                                                                                "subnet": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "provisioningState",
                                                                                "mountTargetId",
                                                                                "fileSystemId",
                                                                                "startIp",
                                                                                "endIp",
                                                                                "gateway",
                                                                                "netmask",
                                                                                "subnet",
                                                                                "ipAddress"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "ownerId": {
                                                                        "type": "string"
                                                                    },
                                                                    "protocolTypes": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    },
                                                                    "serviceLevel": {
                                                                        "type": "string"
                                                                    },
                                                                    "subnetId": {
                                                                        "type": "string"
                                                                    },
                                                                    "usageThreshold": {
                                                                        "type": "integer"
                                                                    },
                                                                    "usedBytes": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "tags": {
                                                                "properties": {},
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "Terminate_3": {
                                                "runAfter": {
                                                    "Create_or_Modify_Volume_Alert": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Terminate",
                                                "inputs": {
                                                    "runStatus": "Succeeded"
                                                }
                                            }
                                        }
                                    }
                                },
                                "default": {
                                    "actions": {}
                                },
                                "expression": "@triggerBody()?['data']?['alertContext']?['authorization']?['action']",
                                "type": "Switch"
                            }
                        },
                        "runAfter": {
                            "Set_Existing_Action_Group_for_Alerts": [
                                "Succeeded"
                            ]
                        },
                        "else": {
                            "actions": {
                                "Create_ANFAutoAlerts_Alert_Group": {
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "id": "/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/actionGroups/ANFAA_LogicAppTrigger",
                                            "identity": null,
                                            "kind": null,
                                            "location": "Global",
                                            "name": "ANFAA_LogicAppTrigger",
                                            "properties": {
                                                "armRoleReceivers": [],
                                                "automationRunbookReceivers": [],
                                                "azureAppPushReceivers": [],
                                                "azureFunctionReceivers": [],
                                                "emailReceivers": [],
                                                "enabled": true,
                                                "groupShortName": "ANFAA_LAT",
                                                "itsmReceivers": [],
                                                "logicAppReceivers": [],
                                                "smsReceivers": [],
                                                "voiceReceivers": [],
                                                "webhookReceivers": [{
                                                    "identifierUri": null,
                                                    "name": "ANFAutoAlerts",
                                                    "objectId": null,
                                                    "serviceUri": "@{body('Parse_JSON')?['value']}",
                                                    "tenantId": null,
                                                    "useAadAuth": false,
                                                    "useCommonAlertSchema": true
                                                }]
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Insights/ActionGroups"
                                        },
                                        "headers": {
                                            "Content-Type": "application/json"
                                        },
                                        "method": "PUT",
                                        "uri": "https://management.azure.com/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/actionGroups/ANFAA_LogicAppTrigger?api-version=2018-03-01"
                                    }
                                },
                                "Create_Trigger_Alert_for_Capacity_Pool": {
                                    "runAfter": {
                                        "Create_Trigger_Alert_for_Volume": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "id": "",
                                            "identity": null,
                                            "kind": null,
                                            "location": "Global",
                                            "name": "ANFAA_PoolModified",
                                            "properties": {
                                                "actions": {
                                                    "actionGroups": [{
                                                        "actionGroupId": "/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/actionGroups/ANFAA_LogicAppTrigger",
                                                        "webhookProperties": {}
                                                    }]
                                                },
                                                "condition": {
                                                    "allOf": [{
                                                            "containsAny": null,
                                                            "equals": "Administrative",
                                                            "field": "category",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "@{variables('monitor_rg')}",
                                                            "field": "resourceGroup",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "microsoft.netapp/netappaccounts/capacitypools",
                                                            "field": "resourceType",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "Microsoft.NetApp/netAppAccounts/capacityPools/write",
                                                            "field": "operationName",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "succeeded",
                                                            "field": "status",
                                                            "odata.type": null
                                                        }
                                                    ],
                                                    "odata.type": null
                                                },
                                                "description": "",
                                                "enabled": true,
                                                "scopes": [
                                                    "/subscriptions/@{variables('subid')}"
                                                ]
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Insights/ActivityLogAlerts"
                                        },
                                        "method": "PUT",
                                        "uri": "https://management.azure.com/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/activityLogAlerts/ANFAA_PoolModified?api-version=2017-04-01"
                                    }
                                },
                                "Create_Trigger_Alert_for_Volume": {
                                    "runAfter": {
                                        "Create_ANFAutoAlerts_Alert_Group": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "id": "/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/activityLogAlerts/ANFAA_VolumeModified",
                                            "identity": null,
                                            "kind": null,
                                            "location": "Global",
                                            "name": "ANFAA_VolumeModified",
                                            "properties": {
                                                "actions": {
                                                    "actionGroups": [{
                                                        "actionGroupId": "/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/actionGroups/ANFAA_LogicAppTrigger",
                                                        "webhookProperties": {}
                                                    }]
                                                },
                                                "condition": {
                                                    "allOf": [{
                                                            "containsAny": null,
                                                            "equals": "Administrative",
                                                            "field": "category",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "@{variables('monitor_rg')}",
                                                            "field": "resourceGroup",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "microsoft.netapp/netappaccounts/capacitypools/volumes",
                                                            "field": "resourceType",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes/write",
                                                            "field": "operationName",
                                                            "odata.type": null
                                                        },
                                                        {
                                                            "containsAny": null,
                                                            "equals": "succeeded",
                                                            "field": "status",
                                                            "odata.type": null
                                                        }
                                                    ],
                                                    "odata.type": null
                                                },
                                                "description": "",
                                                "enabled": true,
                                                "scopes": [
                                                    "/subscriptions/@{variables('subid')}"
                                                ]
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Insights/ActivityLogAlerts"
                                        },
                                        "method": "PUT",
                                        "uri": "https://management.azure.com/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Insights/activityLogAlerts/ANFAA_VolumeModified?api-version=2017-04-01"
                                    }
                                },
                                "Get_URL_of_this_Logic_App": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "POST",
                                        "uri": "https://management.azure.com/subscriptions/@{variables('subid')}/resourceGroups/@{variables('target_rg')}/providers/Microsoft.Logic/workflows/@{workflow().name}/triggers/manual/listcallbackurl?api-version=2016-06-01"
                                    }
                                },
                                "Parse_JSON": {
                                    "runAfter": {
                                        "Get_URL_of_this_Logic_App": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_URL_of_this_Logic_App')",
                                        "schema": {
                                            "properties": {
                                                "basePath": {
                                                    "type": "string"
                                                },
                                                "method": {
                                                    "type": "string"
                                                },
                                                "queries": {
                                                    "properties": {
                                                        "api-version": {
                                                            "type": "string"
                                                        },
                                                        "sig": {
                                                            "type": "string"
                                                        },
                                                        "sp": {
                                                            "type": "string"
                                                        },
                                                        "sv": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "value": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        },
                        "expression": {
                            "and": [{
                                "not": {
                                    "equals": [
                                        "@triggerBody()?['data']?['alertContext']?['authorization']?['action']",
                                        "@null"
                                    ]
                                }
                            }]
                        },
                        "type": "If"
                    },
                    "Set_Capacity_Pool_Alert_Percentage_(consumed)": {
                        "runAfter": {
                            "Set_Target_Resource_Group_to_Monitor": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "CapacityAlertPercent",
                                "type": "float",
                                "value": 0.8
                            }]
                        }
                    },
                    "Set_Existing_Action_Group_for_Alerts": {
                        "runAfter": {
                            "Set_Volume_Alert_Percentage_(consumed)": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "action_group",
                                "type": "string",
                                "value": "[parameters('Action Group for Notifications')]"
                            }]
                        }
                    },
                    "Set_Subscription_ID": {
                        "runAfter": {},
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "subid",
                                "type": "string",
                                "value": "[parameters('Subscription ID')]"
                            }]
                        }
                    },
                    "Set_Target_Resource_Group_for_Alerts": {
                        "runAfter": {
                            "Set_Subscription_ID": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "target_rg",
                                "type": "string",
                                "value": "[parameters('Target Resource Group for Alerts')]"
                            }]
                        }
                    },
                    "Set_Target_Resource_Group_to_Monitor": {
                        "runAfter": {
                            "Set_Target_Resource_Group_for_Alerts": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "monitor_rg",
                                "type": "string",
                                "value": "[parameters('Target Resource Group to Monitor')]"
                            }]
                        }
                    },
                    "Set_Volume_Alert_Percentage_(consumed)": {
                        "runAfter": {
                            "Set_Capacity_Pool_Alert_Percentage_(consumed)": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [{
                                "name": "VolumeAlertPercent",
                                "type": "float",
                                "value": 0.8
                            }]
                        }
                    }
                },
                "outputs": {}
            },
            "parameters": {}
        }
    }]
}